[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp39-cp39-win_amd64.whl"}
gtts = "*"
playsound = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
